.popup {
  visibility: hidden;
  opacity: 0;
  display: flex;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  transition: all 0.5s ease-in-out;
}

.popup_opened {
  visibility: visible;
  opacity: 1;
}

.popup__content {
  padding: 160px 0 90px;
  position: absolute;
  right: 0;
  top: 0;
  width: 67%;
  height: 100%;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.popup__close-button {
  background: transparent;
  border: none;
  position: absolute;
  right: 23px;
  top: 23px;
  cursor: pointer;
}

.popup__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 28px;
  padding: 0;
}

.popup__option {
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  color: #000;
}

.popup__option_active {
  position: relative;
}

.popup__option_active::before {
  content: '';
  position: absolute;
  top: 25px;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  background: #000;
}

@media screen and (max-width: 540px) {
  .popup__content {
    padding: 130px 0 90px;
    width: 100%;
  }
}
